@use '../../utils/' as * ;

/*============= OTHERS CSS AREA STARTS ===============*/

// preloader //
.preloader{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999999999;
	background-color: var(--ztc-text-text-1);
	display: flex;
	align-items: center;
	justify-content: center;
}

.preloader2{
    background: var(--ztc-bg-bg-11) !important;
}
.preloader3{
    background: var(--ztc-text-text-1) !important;
}
.preloader4{
    background: var(--ztc-text-text-12) !important;
}
.preloader5{
  background: var(--ztc-text-text-1) !important;
}
.preloader7{
  background: var(--ztc-text-text-1) !important;
}
.loading-container,
.loading{
	height: 120px;
	position: relative;
	width: 120px;
	border-radius: 100%;
}

.loading-container{
	margin: 40px auto
}

.loading{
	border: 1px solid transparent;
	border-color: transparent var(--ztc-text-text-4) transparent var(--ztc-text-text-4);
	animation: rotate-loading 1.5s linear 0s infinite normal;
	transform-origin: 50% 50%;
}
.preloader2 {
    .loading {
        border-color: transparent var(--ztc-text-text-1) transparent var(--ztc-text-text-1) !important;
        border: 1px solid transparent;
        animation: rotate-loading 1.5s linear 0s infinite normal;
        transform-origin: 50% 50%;
    }
}
.preloader3 {
    .loading {
        border-color: transparent var(--ztc-text-text-6) transparent var(--ztc-text-text-6) !important;
        border: 1px solid transparent;
        animation: rotate-loading 1.5s linear 0s infinite normal;
        transform-origin: 50% 50%;
    }
}
.preloader4 {
    .loading {
        border-color: transparent var(--ztc-text-text-11) transparent var(--ztc-text-text-11) !important;
        border: 1px solid transparent;
        animation: rotate-loading 1.5s linear 0s infinite normal;
        transform-origin: 50% 50%;
    }
}

.preloader5 {
  .loading {
      border-color: transparent var(--ztc-text-text-2) transparent var(--ztc-text-text-2) !important;
      border: 1px solid transparent;
      animation: rotate-loading 1.5s linear 0s infinite normal;
      transform-origin: 50% 50%;
  }
}
.preloader7 {
  .loading {
      border-color: transparent var(--ztc-text-text-15) transparent var(--ztc-text-text-15) !important;
      border: 1px solid transparent;
      animation: rotate-loading 1.5s linear 0s infinite normal;
      transform-origin: 50% 50%;
  }
}
.preloader8 {
  .loading {
      border-color: transparent var(--ztc-text-text-16) transparent var(--ztc-text-text-16) !important;
      border: 1px solid transparent;
      animation: rotate-loading 1.5s linear 0s infinite normal;
      transform-origin: 50% 50%;
  }
}

.preloader9 {
  .loading {
      border-color: transparent var(--ztc-text-text-17) transparent var(--ztc-text-text-17) !important;
      border: 1px solid transparent;
      animation: rotate-loading 1.5s linear 0s infinite normal;
      transform-origin: 50% 50%;
  }
}

.preloader10 {
  .loading {
      border-color: transparent var(--ztc-text-text-14) transparent var(--ztc-text-text-14) !important;
      border: 1px solid transparent;
      animation: rotate-loading 1.5s linear 0s infinite normal;
      transform-origin: 50% 50%;
  }
}
.loading-container:hover .loading,
.loading-container .loading{
	transition: all 0.5s ease-in-out;
}

#loading-icon{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    height: 70px;
    width: 60px;
}

@keyframes rotate-loading{
	0%{
		transform: rotate(0deg);
	}

	100%{
		transform: rotate(360deg);
	}
}

/* END: Preloader */

// HEADER SEARCH AREA STARTS //
.header-search-container form input {
    outline: none;
    border: none;
    background: none;
    font-family: var(--ztc-family-font1);
    font-weight: 500;
  }
  
  .header-search-form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
    z-index: 9999;
    background-color: #fff;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.85s cubic-bezier(0.175, 1, 0.275, 1), visibility 0.8s step-end;
  }
  
  .header-search-form-wrapper.open {
    transition: transform 0.85s cubic-bezier(0.175, 1, 0.275, 1), visibility 0.8s step-start;
    transform: translate3d(0, 0, 0);
  }
  
  .header-search-form-wrapper .search-form {
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .header-search-form-wrapper .search-form input[type=search] {
    height: 65px;
    line-height: 65px;
    font-size: 28px;
    background-color: transparent;
    text-align: left;
    border: none;
    border-bottom: 1px solid #dddbdb;
    padding-left: 0;
    border-radius: 0;
    width: 100%;
    color: var(--ztc-text-text-2);
  }
  
  .header-search-form-wrapper .search-form input[type=search]::-moz-placeholder {
    color: #a4a4a4;
    opacity: 1;
  }
  
  .header-search-form-wrapper .search-form input[type=search]::placeholder {
    color: #a4a4a4;
    opacity: 1;
  }
  
  .header-search-form-wrapper .search-form input[type=search]:-ms-input-placeholder {
    color: #a4a4a4;
  }
  
  .header-search-form-wrapper .search-form input[type=search]::-ms-input-placeholder {
    color: #a4a4a4;
  }
  
  .header-search-form-wrapper .search-submit {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 0;
    right: 0;
    background-color: transparent;
    color: #9F9F9F;
    font-size: 24px;
    border: none;
    color: #2B495A;
  }
  
  .header-search-form-wrapper .tx-search-close {
    background: rgba(204, 204, 204, 0.2705882353);
    width: 54px;
    height: 54px;
    border-width: 18px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    line-height: 54px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
  }
  
  .header-search-form-wrapper .tx-search-close::before, .header-search-form-wrapper .tx-search-close::after {
    background-color: var(--color-black);
  }
  
  .header-search-container {
    width: 100%;
    height: 100%;
    max-width: 1170px;
    border: 0;
    padding: 0;
    background: 0 0;
    transform: translate3d(0, calc(100% - 100px), 0);
    transition: transform 0.85s cubic-bezier(0.175, 1, 0.275, 1);
    margin: auto;
    opacity: 0;
    visibility: hidden;
  }
  
  .header-search-form-wrapper.open .header-search-container {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
  // HEADER SEARCH AREA ENDS //

  // progress //
.progress-wrap {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 56px;
  width: 56px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.1);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  &:hover{
      background: var(--ztc-text-text-2);
      transform: translateY(-5px);
      box-shadow: 0 0 15px 0 var(--ztc-text-text-16);
      transition: $trans;
      color: var(--ztc-text-text-1);
  }
 }
 .progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
 }
 .progress-wrap::after {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f062";
  text-align: center;
  line-height: 56px;
  font-size: 18px;
  color: var(--ztc-text-text-2);
  left: 0;
  top: 0;
  height: 56px;
  width: 56px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
 }
 .progress-wrap:hover::after {
  opacity: 0;
 }
 .progress-wrap::before {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f062";
  text-align: center;
  line-height: 56px;
  font-size: 18px;
  opacity: 0;
  left: 0;
  top: 0;
  height: 56px;
  width: 56px;
  cursor: pointer;
  display: block;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
 }

 .progress-wrap:hover::before {
  opacity: 1;
 }
 .progress-wrap svg path {
  fill: none;
 }
 .progress-wrap svg.progress-circle path {
  stroke: var(--ztc-text-text-2);
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
 }
 .progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
 }

  
 .star2 {
  position: absolute;
  right: 0;
  z-index: -1;
}
.star3 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
/*============= OTHERS CSS AREA ENDS ===============*/

/*============= PRICING CSS AREA STARTS ===============*/
.pricing-section-area {
  .pricing-header {
    margin-bottom: 60px;
    @media #{$xs} {
      margin-bottom: 30px;
    }
    @media #{$md} {
      margin-bottom: 30px;
    }
  }
  .pricing-boxarea.active {
    transition: all .4s;
    transform: translateY(-5px);
    background: var(--ztc-text-text-6);
    .btn-area1 {
      text-align: center;
      a.header-btn12 {
        background: var(--ztc-text-text-2);
        color: var(--ztc-text-text-1);
      }
      a.header-btn6 {
        color: var(--ztc-text-text-1);
        border-top: 1px solid var(--ztc-text-text-1);
        border-bottom: 1px solid var(--ztc-text-text-1);
      }
    }
    h4 {
      color: var(--ztc-text-text-1);
      transition: all .4s;
    }
    p {
      color: var(--ztc-text-text-1);
      transition: all .4s;
    }
    h1 {
      color: var(--ztc-text-text-1);
      transition: all .4s;
      span {
        color: var(--ztc-text-text-1);
        transition: all .4s;
      }
    }
    .list-area {
      background: #FD2C6F;
      transition: all .6s;
      h5 {
        color: var(--ztc-text-text-1);
        transition: all .4s;
      }
      ul {
        li {
          color: var(--ztc-text-text-1);
          transition: all .4s;
          .check2 {
            visibility: hidden;
            opacity: 0;
            transition: all .4s;
            height: 0;
            display: none;
          }
          .check3 {
            transition: all .4s;
            visibility: visible;
            opacity: 1;
            display: inline-block;
          }
        }
      }
    }
  }
  .pricing-boxarea {
    background: var(--ztc-bg-bg-15);
    border-radius: 8px;
    position: relative;
    padding: 24px;
    z-index: 1;
    transition: all .4s;
    margin-bottom: 30px;
    &:hover {
      transition: all .4s;
      transform: translateY(-5px);
    }
    &::after {
      position: absolute;
      content: "";
      height: 100%;
      top: 0;
      width: 1px;
      border-radius: 8px;
      left: 50%;
      transition: all .4s;
      background: var(--ztc-text-text-6);
      z-index: -1;
      visibility: hidden;
      opacity: 0;
    }
    h4{
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s20);
      line-height: var(--ztc-font-size-font-s20);
      font-weight: var(--ztc-weight-semibold);
      color: var(--ztc-text-text-2);
      transition: all .4s;
      margin-bottom: 14px;
    }
    p {
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s14);
      line-height: var(--ztc-font-size-font-s20);
      font-weight: var(--ztc-weight-medium);
      color: var(--ztc-text-text-3);
      padding-bottom: 24px;
      border-bottom: 1px solid #DEE0E2;
      transition: all .4s;
    }
    h1 {
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s56);
      line-height: var(--ztc-font-size-font-s56);
      font-weight: var(--ztc-weight-semibold);
      color: var(--ztc-text-text-2);
      transition: all .4s;
      padding-top: 24px;
      span {
        display: inline-block;
        font-size: var(--ztc-font-size-font-s16);
        line-height: var(--ztc-font-size-font-s16);
        font-weight: var(--ztc-weight-regular);
        color: var(--ztc-text-text-3);
        transition: all .4s;
        position: relative;
        left: -5px;
      }
    }
    .btn-area1 {
      text-align: center;
      .header-btn12 {
        width: 100%;
        text-align: center;
      }
      .header-btn6 {
        width: 100%;
        text-align: center;
      }
    }
    .list-area {
      background: var(--ztc-text-text-1);
      transition: all .6s;
      padding: 24px;
      border-radius: 8px;
      position: relative;
      z-index: 1;
      h5 {
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s20);
        line-height: var(--ztc-font-size-font-s20);
        font-weight: var(--ztc-weight-medium);
        color: var(--ztc-text-text-2);
        transition: all .4s;
      }
      ul {
        li {
          margin-top: 20px;
          font-family: var(--ztc-family-font1);
          font-size: var(--ztc-font-size-font-s16);
          line-height: var(--ztc-font-size-font-s16);
          font-weight: var(--ztc-weight-medium);
          color: var(--ztc-text-text-2);
          transition: all .4s;
          .check2 {
            display: inline-block;
            transition: all .4s;
            margin: 0 8px 0 0;
            visibility: visible;
            opacity: 1;
            
          }
          .check3 {
            visibility: hidden;
            opacity: 0;
            transition: all .4s;
            margin: 0 8px 0 0;
            display: none;
          }
        }
      }
    }
    .pera {
      padding: 0 !important;
      border: none;
    }
  }
}
// inner-pages //
.pricing-inner-section-area {
  .pricing-header {
    margin-bottom: 60px;
    @media #{$xs} {
      margin-bottom: 30px;
    }
    @media #{$md} {
      margin-bottom: 30px;
    }
  }
  .pricing-boxarea.active { 
    transition: all .4s;
    transform: translateY(-5px);
    background: var(--ztc-text-text-4);
    h4 {
      color: var(--ztc-text-text-1);
      transition: all .4s;
    }
    p {
      color: var(--ztc-text-text-1);
      transition: all .4s;
    }
    h1 {
      color: var(--ztc-text-text-1);
      transition: all .4s;
      span {
        color: var(--ztc-text-text-1);
        transition: all .4s;
      }
    }
    .list-area {
      background: rgba(255, 255, 255, 0.15);
      transition: all .6s;
      h5 {
        color: var(--ztc-text-text-1);
        transition: all .4s;
      }
      ul {
        li {
          color: var(--ztc-text-text-1);
          transition: all .4s;
          .check2 {
            visibility: hidden;
            opacity: 0;
            transition: all .4s;
            height: 0;
            display: none;
          }
          .check3 {
            transition: all .4s;
            visibility: visible;
            opacity: 1;
            display: inline-block;
          }
        }
      }
    }
  }
  .pricing-boxarea {
    background: var(--ztc-bg-bg-4);
    border-radius: 8px;
    position: relative;
    padding: 24px;
    z-index: 1;
    transition: all .4s;
    margin-bottom: 30px;
    &:hover {
      transition: all .4s;
      transform: translateY(-5px);
    }
    &::after {
      position: absolute;
      content: "";
      height: 100%;
      top: 0;
      width: 1px;
      border-radius: 8px;
      left: 50%;
      transition: all .4s;
      background: var(--ztc-text-text-6);
      z-index: -1;
      visibility: hidden;
      opacity: 0;
    }
    h4{
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s20);
      line-height: var(--ztc-font-size-font-s20);
      font-weight: var(--ztc-weight-semibold);
      color: var(--ztc-text-text-2);
      transition: all .4s;
      margin-bottom: 14px;
    }
    p {
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s14);
      line-height: var(--ztc-font-size-font-s20);
      font-weight: var(--ztc-weight-medium);
      color: var(--ztc-text-text-3);
      padding-bottom: 24px;
      border-bottom: 1px solid #DEE0E2;
      transition: all .4s;
    }
    h1 {
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s56);
      line-height: var(--ztc-font-size-font-s56);
      font-weight: var(--ztc-weight-semibold);
      color: var(--ztc-text-text-2);
      transition: all .4s;
      padding-top: 24px;
      span {
        display: inline-block;
        font-size: var(--ztc-font-size-font-s16);
        line-height: var(--ztc-font-size-font-s16);
        font-weight: var(--ztc-weight-regular);
        color: var(--ztc-text-text-3);
        transition: all .4s;
        position: relative;
        left: -5px;
      }
    }

    .list-area {
      background: rgba(78, 47, 218, 0.05);
      transition: all .6s;
      padding: 24px;
      border-radius: 8px;
      position: relative;
      z-index: 1;
      h5 {
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s20);
        line-height: var(--ztc-font-size-font-s20);
        font-weight: var(--ztc-weight-medium);
        color: var(--ztc-text-text-2);
        transition: all .4s;
      }
      ul {
        li {
          margin-top: 20px;
          font-family: var(--ztc-family-font1);
          font-size: var(--ztc-font-size-font-s16);
          line-height: var(--ztc-font-size-font-s16);
          font-weight: var(--ztc-weight-medium);
          color: var(--ztc-text-text-2);
          transition: all .4s;
          .check2 {
            display: inline-block;
            transition: all .4s;
            margin: 0 8px 0 0;
            visibility: visible;
            opacity: 1;
            
          }
          .check3 {
            visibility: hidden;
            opacity: 0;
            transition: all .4s;
            margin: 0 8px 0 0;
            display: none;
          }
        }
      }
    }
    .pera {
      padding: 0 !important;
      border: none;
    }
  }
}

.compare-table-area {
  .comparison {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    @media #{$xs} {
      overflow-x: scroll !important;
    }
    @media #{$md} {
      overflow-x: scroll !important;
    }
  }
  thead {
    .table-header {
      background: #E0E4E8;
    }
  }
  .comparison table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
    border: 1px solid #6C7887;
    @media #{$xs} {
      width: 610px;
      overflow-x: scroll !important;
    }
    @media #{$md} {
      width: 1000px;
      overflow-x: scroll !important;
    }
  }
  .another-list {
    background: #F0F1F4;
    td.list-head {
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s24);
      line-height: var(--ztc-font-size-font-s24);
      font-weight: var(--ztc-weight-semibold);
      color: var(--ztc-text-text-2);
      transition: all .4s;
    }
    .standard {
      border-left: 2px solid var(--ztc-text-text-4);
      border-right: 2px solid var(--ztc-text-text-4);
    }
  }
  
  .comparison td,
  .comparison th {
    empty-cells: show;
    padding: 10px;
    color: var(--ztc-text-text-2);
    font-family: var(--ztc-family-font1);
    line-height: var(--ztc-font-size-font-s16);
    font-size: var(--ztc-font-size-font-s16);
    font-weight: var(--ztc-weight-medium);
    padding: 30px 24px;
  }
  
  .comparison tbody tr:nth-child(odd) {
    display: none;
  }
  .comparison .compare-row {
    background: var(--ztc-text-text-1);
    td.standard {
      border-left: 2px solid var(--ztc-text-text-4);
      border-right: 2px solid var(--ztc-text-text-4);
    }
    .none-border {
      border-bottom: none;
    }
  }
.compare-footer {
  td {
    border-top: 1px solid #B2BBC6;
  }
  .standard {
    background: var(--ztc-text-text-4);
    .header-btn1 {
      background: var(--ztc-text-text-1);
      color: var(--ztc-text-text-4);
      &:hover {
        color: var(--ztc-text-text-1);
      }
      span {
        background: var(--ztc-text-text-4);
        color: var(--ztc-text-text-1);
      }
    }
  }
}
  
  .comparison th {
    font-weight: normal;
    padding: 0;
  }
  
  .comparison tr td:first-child {
    text-align: left;
    border-right: 1px solid #B2BBC6;
    border-bottom: 1px solid #F0F1F4;
  }
  
  .comparison .product,
  .comparison .tl {
    color: var(--ztc-text-text-1);
    padding: 10px;
    font-size: var(--ztc-font-size-font-s14);
  }
  
  .comparison .price-info {
    padding: 28px 24px !important;
    .price-now {
      span.text-start {
        text-align: start !important;
        display: inline-block;
      }
    }
  }
  .comparison .price-info.standard {
    background: var(--ztc-text-text-4);
    transition: all .4s;
    border-left: 1px solid var(--ztc-text-text-4);
    border-right: 1px solid var(--ztc-text-text-4);
    span {
      color: var(--ztc-text-text-1);
    }
  }
  .comparison .price-info.features {
    text-align: start !important;
  }
  .comparison .price-now,
  .comparison .price-now span {
    color: var(--ztc-text-text-2);
    font-family: var(--ztc-family-font1);
    font-size: var(--ztc-font-size-font-s20);
    line-height: var(--ztc-font-size-font-s20);
    font-weight: var(--ztc-weight-semibold);
    transition: all .4s;
    display: inline-block;
    text-align: start;
  }
  
  @media screen and (min-width: 721px) and (max-width: 1000px) {
    .table_ul li {
      letter-spacing: 0px;
    }
    .comparison .price-now span {
      font-size: var(--ztc-font-size-font-s20);
      line-height: var(--ztc-font-size-font-s20);
    }
    .comparison .price-now p {
      display: block;
    }
  }
  
  @media screen and (max-width: 720px) {
    .table_ul {
      padding: 0px;
    }
    .table_ul li {
      font-size: var(--ztc-font-size-font-s10);
      line-height: 16px;
      padding: 3px 0;
    }
    .comparison {
      max-width: 100%;
    }
    .comparison td:first-child,
    .comparison th:first-child {
      display: none;
    }
    .comparison tbody tr:nth-child(odd) {
      display: table-row;
      background: #E0E4E8;
    }
    .comparison .row {
      background: var(--ztc-text-text-1);
    }
    .comparison td,
    .comparison th {
      border-top: none;
      padding: 10px;
    }
    .price-info {
      border-top: 0 !important;
      padding: 10px 0 !important;
    }
    .price-info p {
      line-height: 8px;
      font-size: 8px !important;
    }
    .comparison .compare-row {
      background: var(--ztc-text-text-1);
    }
    .comparison .price-now p {
      display: block;
    }
    .comparison .price-now span {
      font-size: var(--ztc-font-size-font-s24);
    }
    .comparison td {
      font-size: var(--ztc-font-size-font-s14);
    }
    .comparison th {
      font-size: var(--ztc-font-size-font-s14);
    }
  }
}

.pricing7-section-area {
  .pricing-header {
    margin-bottom: 60px;
    @media #{$xs} {
      margin-bottom: 30px;
    }
    @media #{$md} {
      margin-bottom: 30px;
    }
  }
  .pricing-boxarea.active {
    transition: all .4s;
    transform: translateY(-5px);
    background: var(--ztc-bg-bg-24);
    .btn-area1 {
      text-align: center;
      a.header-btn13 {
        background: var(--ztc-text-text-14);
        color: var(--ztc-text-text-1);
      }
      a.header-btn6 {
        color: var(--ztc-text-text-1);
        border-top: 1px solid var(--ztc-text-text-1);
        border-bottom: 1px solid var(--ztc-text-text-1);
      }
    }
    h4 {
      color: var(--ztc-text-text-1);
      transition: all .4s;
    }
    p {
      color: var(--ztc-text-text-1);
      transition: all .4s;
    }
    h1 {
      color: var(--ztc-text-text-1);
      transition: all .4s;
      span {
        color: var(--ztc-text-text-1);
        transition: all .4s;
      }
    }
    .list-area {
      background: #3464AD;
      transition: all .6s;
      h5 {
        color: var(--ztc-text-text-1);
        transition: all .4s;
      }
      ul {
        li {
          color: var(--ztc-text-text-1);
          transition: all .4s;
          .check9 {
            transition: all .4s;
            visibility: visible;
            opacity: 1;
            display: inline-block;
            margin: 0 8px 0 0;
          }
        }
      }
    }
  }
  .pricing-boxarea {
    background: var(--ztc-bg-bg-15);
    border-radius: 8px;
    position: relative;
    padding: 24px;
    z-index: 1;
    transition: all .4s;
    margin-bottom: 30px;
    &:hover {
      transition: all .4s;
      transform: translateY(-5px);
    }
    &::after {
      position: absolute;
      content: "";
      height: 100%;
      top: 0;
      width: 1px;
      border-radius: 8px;
      left: 50%;
      transition: all .4s;
      background: var(--ztc-text-text-6);
      z-index: -1;
      visibility: hidden;
      opacity: 0;
    }
    h4{
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s20);
      line-height: var(--ztc-font-size-font-s20);
      font-weight: var(--ztc-weight-semibold);
      color: var(--ztc-text-text-2);
      transition: all .4s;
      margin-bottom: 14px;
    }
    p {
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s14);
      line-height: var(--ztc-font-size-font-s20);
      font-weight: var(--ztc-weight-medium);
      color: var(--ztc-text-text-3);
      padding-bottom: 24px;
      border-bottom: 1px solid #DEE0E2;
      transition: all .4s;
    }
    h1 {
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s56);
      line-height: var(--ztc-font-size-font-s56);
      font-weight: var(--ztc-weight-semibold);
      color: var(--ztc-text-text-2);
      transition: all .4s;
      padding-top: 24px;
      span {
        display: inline-block;
        font-size: var(--ztc-font-size-font-s16);
        line-height: var(--ztc-font-size-font-s16);
        font-weight: var(--ztc-weight-regular);
        color: var(--ztc-text-text-3);
        transition: all .4s;
        position: relative;
        left: -5px;
      }
    }
    .btn-area1 {
      text-align: center;
      .header-btn13 {
        width: 100%;
        text-align: center;
      }
    }
    .list-area {
      background: var(--ztc-text-text-1);
      transition: all .6s;
      padding: 24px;
      border-radius: 8px;
      position: relative;
      z-index: 1;
      h5 {
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s20);
        line-height: var(--ztc-font-size-font-s20);
        font-weight: var(--ztc-weight-medium);
        color: var(--ztc-text-text-2);
        transition: all .4s;
      }
      ul {
        li {
          margin-top: 20px;
          font-family: var(--ztc-family-font1);
          font-size: var(--ztc-font-size-font-s16);
          line-height: var(--ztc-font-size-font-s16);
          font-weight: var(--ztc-weight-medium);
          color: var(--ztc-text-text-2);
          transition: all .4s;
          .check9 {
            visibility: visible;
            transition: all .4s;
            margin: 0 8px 0 0;
          }
        }
      }
    }
    .pera {
      padding: 0 !important;
      border: none;
    }
  }
}

// Homepage 09 //
.pricing9-section-area {
  .pricing-header {
    margin-bottom: 60px;
    @media #{$xs} {
      margin-bottom: 30px;
    }
    @media #{$md} {
      margin-bottom: 30px;
    }
  }
  .pricing-boxarea.active { 
    transition: all .4s;
    transform: translateY(-5px);
    background: var(--ztc-text-text-17);
    h4 {
      color: var(--ztc-text-text-1);
      transition: all .4s;
    }
    p {
      color: var(--ztc-text-text-1);
      transition: all .4s;
    }
    h1 {
      color: var(--ztc-text-text-1);
      transition: all .4s;
      span {
        color: var(--ztc-text-text-1);
        transition: all .4s;
      }
    }
    .btn-area1 {
      a {
        background: var(--ztc-text-text-2);
        color: var(--ztc-text-text-1);
      }
    }
    .list-area {
      background: #7C6FE4;
      transition: all .6s;
      h5 {
        color: var(--ztc-text-text-1);
        transition: all .4s;
      }
      ul {
        li {
          color: var(--ztc-text-text-1);
          transition: all .4s;
          .check2 {
            visibility: hidden;
            opacity: 0;
            transition: all .4s;
            height: 0;
            display: none;
          }
          .check3 {
            transition: all .4s;
            visibility: visible;
            opacity: 1;
            display: inline-block;
          }
        }
      }
    }
  }
  .pricing-boxarea {
    background: #F6F8FA;
    border-radius: 8px;
    position: relative;
    padding: 24px;
    z-index: 1;
    transition: all .4s;
    margin-bottom: 30px;
    &:hover {
      transition: all .4s;
      transform: translateY(-5px);
    }
    &::after {
      position: absolute;
      content: "";
      height: 100%;
      top: 0;
      width: 1px;
      border-radius: 8px;
      left: 50%;
      transition: all .4s;
      background: var(--ztc-text-text-6);
      z-index: -1;
      visibility: hidden;
      opacity: 0;
    }
    .btn-area1 {
      margin-top: 32px;
      a {
        width: 100%;
        text-align: center;
      }
    }
    h4{
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s20);
      line-height: var(--ztc-font-size-font-s20);
      font-weight: var(--ztc-weight-semibold);
      color: var(--ztc-text-text-2);
      transition: all .4s;
      margin-bottom: 14px;
    }
    p {
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s16);
      line-height: var(--ztc-font-size-font-s24);
      font-weight: var(--ztc-weight-medium);
      color: var(--ztc-text-text-3);
      padding-bottom: 24px;
      border-bottom: 1px solid #DEE0E2;
      transition: all .4s;
    }
    h1 {
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s56);
      line-height: var(--ztc-font-size-font-s56);
      font-weight: var(--ztc-weight-semibold);
      color: var(--ztc-text-text-2);
      transition: all .4s;
      padding-top: 24px;
      span {
        display: inline-block;
        font-size: var(--ztc-font-size-font-s16);
        line-height: var(--ztc-font-size-font-s16);
        font-weight: var(--ztc-weight-regular);
        color: var(--ztc-text-text-3);
        transition: all .4s;
        position: relative;
        left: -5px;
      }
    }

    .list-area {
      background: #fff;
      transition: all .6s;
      padding: 24px;
      border-radius: 8px;
      position: relative;
      z-index: 1;
      h5 {
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s20);
        line-height: var(--ztc-font-size-font-s20);
        font-weight: var(--ztc-weight-medium);
        color: var(--ztc-text-text-2);
        transition: all .4s;
      }
      ul {
        li {
          margin-top: 20px;
          font-family: var(--ztc-family-font1);
          font-size: var(--ztc-font-size-font-s16);
          line-height: var(--ztc-font-size-font-s16);
          font-weight: var(--ztc-weight-medium);
          color: var(--ztc-text-text-2);
          transition: all .4s;
          .check2 {
            display: inline-block;
            transition: all .4s;
            margin: 0 8px 0 0;
            visibility: visible;
            opacity: 1;
            
          }
          .check3 {
            visibility: hidden;
            opacity: 0;
            transition: all .4s;
            margin: 0 8px 0 0;
            display: none;
          }
        }
      }
    }
    .pera {
      padding: 0 !important;
      border: none;
    }
  }
}

// Homepage 09 //
.pricing10-section-area {
  position: relative;
  background: #F6F8FA;
  .pricing-header {
    margin-bottom: 60px;
    @media #{$xs} {
      margin-bottom: 30px;
    }
    @media #{$md} {
      margin-bottom: 30px;
    }
  }
  .pricing-boxarea.active { 
    transition: all .4s;
    transform: translateY(-5px);
    background: var(--ztc-text-text-14);
    h4 {
      color: var(--ztc-text-text-1);
      transition: all .4s;
    }
    p {
      color: var(--ztc-text-text-1);
      transition: all .4s;
    }
    h1 {
      color: var(--ztc-text-text-1);
      transition: all .4s;
      span {
        color: var(--ztc-text-text-1);
        transition: all .4s;
      }
    }
    .btn-area1 {
      a {
        background: var(--ztc-text-text-2);
        color: var(--ztc-text-text-1);
      }
    }
    .list-area {
      background: #FD7C3D;
      transition: all .6s;
      h5 {
        color: var(--ztc-text-text-1);
        transition: all .4s;
      }
      ul {
        li {
          color: var(--ztc-text-text-1);
          transition: all .4s;
          .check2 {
            visibility: hidden;
            opacity: 0;
            transition: all .4s;
            height: 0;
            display: none;
          }
          .check3 {
            transition: all .4s;
            visibility: visible;
            opacity: 1;
            display: inline-block;
          }
        }
      }
    }
  }
  .pricing-boxarea {
    background: var(--ztc-text-text-1);
    border-radius: 8px;
    position: relative;
    padding: 24px;
    z-index: 1;
    transition: all .4s;
    margin-bottom: 30px;
    &:hover {
      transition: all .4s;
      transform: translateY(-5px);
    }
    &::after {
      position: absolute;
      content: "";
      height: 100%;
      top: 0;
      width: 1px;
      border-radius: 8px;
      left: 50%;
      transition: all .4s;
      background: var(--ztc-text-text-6);
      z-index: -1;
      visibility: hidden;
      opacity: 0;
    }
    .btn-area1 {
      margin-top: 32px;
      a {
        width: 100%;
        text-align: center;
      }
    }
    h4{
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s20);
      line-height: var(--ztc-font-size-font-s20);
      font-weight: var(--ztc-weight-semibold);
      color: var(--ztc-text-text-2);
      transition: all .4s;
      margin-bottom: 14px;
    }
    p {
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s16);
      line-height: var(--ztc-font-size-font-s24);
      font-weight: var(--ztc-weight-medium);
      color: var(--ztc-text-text-3);
      padding-bottom: 24px;
      border-bottom: 1px solid #DEE0E2;
      transition: all .4s;
    }
    h1 {
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s56);
      line-height: var(--ztc-font-size-font-s56);
      font-weight: var(--ztc-weight-semibold);
      color: var(--ztc-text-text-2);
      transition: all .4s;
      padding-top: 24px;
      span {
        display: inline-block;
        font-size: var(--ztc-font-size-font-s16);
        line-height: var(--ztc-font-size-font-s16);
        font-weight: var(--ztc-weight-regular);
        color: var(--ztc-text-text-3);
        transition: all .4s;
        position: relative;
        left: -5px;
      }
    }

    .list-area {
      background: #F6F8FA;
      transition: all .6s;
      padding: 24px;
      border-radius: 8px;
      position: relative;
      z-index: 1;
      h5 {
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s20);
        line-height: var(--ztc-font-size-font-s20);
        font-weight: var(--ztc-weight-medium);
        color: var(--ztc-text-text-2);
        transition: all .4s;
      }
      ul {
        li {
          margin-top: 20px;
          font-family: var(--ztc-family-font1);
          font-size: var(--ztc-font-size-font-s16);
          line-height: var(--ztc-font-size-font-s16);
          font-weight: var(--ztc-weight-medium);
          color: var(--ztc-text-text-2);
          transition: all .4s;
          .check2 {
            display: inline-block;
            transition: all .4s;
            margin: 0 8px 0 0;
            visibility: visible;
            opacity: 1;
            
          }
          .check3 {
            visibility: hidden;
            opacity: 0;
            transition: all .4s;
            margin: 0 8px 0 0;
            display: none;
          }
        }
      }
    }
    .pera {
      padding: 0 !important;
      border: none;
    }
  }
}
/*============= PRICING CSS AREA ENDS ===============*/

/*============= HISTORY CSS AREA ENDS ===============*/
.history-inner-section-area {
  position: relative;
  z-index: 1;
  padding: 100px 0 70px 0;
  @media #{$xs} {
    padding: 50px 0 20px 0;
  }
  @media #{$md} {
    padding: 50px 0 20px 0;
  }
  .history-header-area {
    position: relative;
    margin-bottom: 60px;
    @media #{$xs} {
      margin-bottom: 30px;
    }
    @media #{$md} {
      margin-bottom: 30px;
    }
  }
  .about-all-images-area {
    position: relative;
    .elements12 {
        position: absolute;
        top: 50px;
        left: 40%;
        right: 50%;
    }
    .elements13 {
        position: absolute;
        left: 50%;
        bottom: 50px;
        right: 40%;
    }
    .img1 {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 100px;
        }
    }
    .img2 {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 100px;
        }
    }
}

.history-content-area {
  padding: 0 0 0 50px;
  @media #{$xs} {
    margin-top: 30px;
    padding: 0;
  }
  @media #{$md} {
    margin-top: 30px;
    padding: 0;
  }
  .history-box-content {
    position: relative;
    padding-bottom: 32px;
    border-bottom: 1px dashed #A3ADBB;
    margin-bottom: 30px;
    h5 {
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s16);
      line-height: var(--ztc-font-size-font-s16);
      font-weight: var(--ztc-weight-bold);
      color: var(--ztc-text-text-4);
      transition: all .4s;
      margin-bottom: 16px;
    }
    a {
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s20);
      line-height: var(--ztc-font-size-font-s20);
      font-weight: var(--ztc-weight-semibold);
      color: var(--ztc-weight-semibold);
      transition: all .4s;
      display: inline-block;
      margin-bottom: 16px;
      &:hover {
        color: var(--ztc-text-text-4);
        transition: all .4s;
      }
    }
    p {
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s16);
      line-height: var(--ztc-font-size-font-s26);
      font-weight: var(--ztc-weight-regular);
      color: var(--ztc-text-text-3);
      transition: all .4s;
    }
    .readmore {
      margin-bottom: 0;
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s16);
      line-height: var(--ztc-font-size-font-s16);
      font-weight: var(--ztc-weight-bold);
      color: var(--ztc-text-text-2);
      transition: all .4s;
      display: inline-block;
      margin-top: 16px;
      &:hover {
        color: var(--ztc-text-text-4);
        transition: all .4s;
      }
      i {
        transform: rotate(-45deg);
        margin-left: 4px;
      }
    }

  }
}
}
.history-inner-section-area.history3 {
  padding: 100px 0 70px;
  @media #{$xs} {
    padding: 50px 0 20px;
  }
  @media #{$md} {
    padding: 50px 0 20px;
  }
}
/*============= HISTORY CSS AREA ENDS ===============*/

/*============= SKILLS CSS AREA  ===============*/
.skills-section-area {
  position: relative;
  z-index: 1;
  background: var(--ztc-text-text-2);
  .cta-bg1 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .cta-bg2 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .skills-header {
    margin-bottom: 60px;
    @media #{$xs} {
      margin-bottom: 30px;
    }
    @media #{$md} {
      margin-bottom: 30px;
    }
    h5 {
      color: var(--ztc-bg-bg-15);
      &::after {
        background: var(--ztc-bg-bg-15);
      }
    }
    h2 {
      color: var(--ztc-bg-bg-15);
    }
  }


// PROGRESSBAR //

  .progresbar {
    margin-bottom: 30px;
    p {
      color: var(--ztc-text-text-1);
      font-family: var(--ztc-family-font1);
      font-size: var(--ztc-font-size-font-s20);
      font-style: normal;
      font-weight: var(--ztc-weight-semibold);
      line-height: 20px;
      transition: all .4s;
      text-align: center;
      margin-top: 30px;
    }
  }
  .progressbar {
    width: 180px;
    height: 180px;
    text-align: center;
    margin: 0 auto;
  }
  .circle {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      margin-top: 10px;
      display: inline-block;
      position: relative;
      text-align: center;
      position: relative;
      z-index: 1;
  }
  .circle canvas {
      vertical-align: middle;
      border-radius: 50%;
  }    
  .circle div {
    position: absolute;
    top: 33%;
    left: 0;
    width: 100%;
    color: var(--ztc-text-text-1);
    text-align: center;
    font-size: var(--ztc-font-size-font-s44);
    font-weight: bold;
    font-family: var(--ztc-family-font1);
  }
  .circle strong i {
      font-style: normal;
      font-size: 0.6em;
      font-weight: normal;
  }
  .circle span {
      display: block;
      color: black;
      margin-top: 12px;
  }
  .circle:before {
      position: absolute;
      top: 65%;
      right: 17%;
      font-size: 15px;
      font-weight: bold;
      color: var(--ztc-text-text-1);
  }
}
/*============= SKILLS CSS AREA ENDS ===============*/

/*============= CHOOSE CSS AREA STARTS ===============*/
.choose-section-area {
  position: relative;
  z-index: 1;
  background: var(--ztc-text-text-2);
  .cta-bg1 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .cta-bg2 {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .choose-header-area {
    margin-bottom: 60px;
    @media #{$xs} {
      margin-bottom: 30px;
    }
    @media #{$md} {
      margin-bottom: 30px;
    }
    h5 {
      color: #F6F8F9;
      &::after {
        background: #F6F8F9;
      }
    }
    h2 {
      color: #F6F8F9;
    }
  }
  .about-all-images-area {
    position: relative;
    .elements12 {
        position: absolute;
        top: 50px;
        left: 40%;
        right: 50%;
    }
    .elements13 {
        position: absolute;
        left: 50%;
        bottom: 50px;
        right: 40%;
    }
    .img1 {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 100px;
        }
    }
    .img2 {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 100px;
        }
        @media #{$xs} {
          margin-top: 20px;
        }
    }
}

.accordian-tabs-area {
  padding: 0 100px 0 0;
  @media #{$xs} {
    padding: 0;
    margin-bottom: 30px;
  }
  @media #{$md} {
    padding: 0;
    margin-bottom: 30px;
  }
  .accordion {
    .accordion-item {
      background: var(--ztc-text-text-4);
      border-radius: 7px;
      border: 1px solid #E0E4E8;
      h2 {
        button {
          box-shadow: none;
          background: var(--ztc-text-text-1);
          transition: all .4s;
          border-radius: 7px;
          color: var(--ztc-text-text-2);
          font-family: var(--ztc-family-font1);
          font-size: var(--ztc-font-size-font-s24);
          font-style: normal;
          font-weight: var(--ztc-weight-semibold);
          line-height: 24px;
          &::after {
            content: "\f061";
            font-family: FontAwesome;
            background-image: none;
            transform: none;
            height: 18px;
            width: 18px;
            font-size: 18px;
          }
        }
        button:not(.collapsed) {
          background: none;
          transition: all .4s;
          color: var(--ztc-text-text-1);
          &::after {
            transform: rotate(-45deg);
          }
        }
      }
      .accordion-body {
        padding: 0 30px 0 24px;
        color: var(--ztc-text-text-1);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--ztc-weight-regular);
        line-height: 26px;
        opacity: 0.8;
      }
      .accordion-body.body2 {
        padding: 0 30px 24px 24px !important;
      }
    }
  }
}
}
/*============= CHOOSE CSS AREA ENDS ===============*/

/*============= ERROR CSS AREA ENDS ===============*/ 
.error-section-area {
  .heading2  {
    img {
      height: 100%;
      width: 100%;
      border-radius: 4px;
    }
  }
}
/*============= ERROR CSS AREA ENDS ===============*/

/*============= BOOST CSS AREA ENDS ===============*/
.boost-section-area {
  background: #F6F8F9;
  position: relative;
  overflow: hidden;
  .boost-header {
    h5 {
      margin-left: 40px;
    }
  }
  .images {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    width: 50%;
    overflow: hidden;
    @media #{$xs} {
      position: relative;
      width: 100%;
      margin-top: 30px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
/*============= BOOST CSS AREA ENDS ===============*/

.solution9-section-area {
  position: relative;
  z-index: 1;
  background: #F6F8FA;
  .solution-header {
    margin-bottom: 60px;
    @media #{$xs} {
      margin-bottom: 30px;
    }
    @media #{$md} {
      margin-bottom: 30px;
    }
  }

  .solution-boxarea {
    position: sticky;
    z-index: 1;
    background: #F5EBCE;
    border-radius: 8px;
    padding: 32px 50px;
    top: 100px;
    @media #{$md} {
      position: relative;
      top: 0;
      padding: 32px;
    }
    @media #{$xs} {
      position: relative;
      top: 0;
      padding: 32px;
    }
    .img1 {
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    .step-header {
      @media #{$md} {
        margin-top: 30px;
      }
      @media #{$xs} {
        margin-top: 30px;
      }
      h5 {
        color: var(--ztc-text-text-2);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--ztc-weight-medium);
        line-height: 16px;
        display: inline-block;
        border-radius: 32px;
        background: #EFD27D;
        padding: 6px 10px;
        img {
          filter: brightness(0);
          margin: 0 4px 0 0;
        }
      }
      h2 {
        color: var(--ztc-text-text-2);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s32);
        font-style: normal;
        font-weight: var(--ztc-weight-semibold);
        line-height: 32px;
      }
      p {
        color: var(--ztc-text-text-3);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--ztc-weight-regular);
        line-height: 26px;     
      }
      a {
        background: #EFD27D;
        color: var(--ztc-text-text-2);
        &:hover {
          background: var(--ztc-text-text-2);
          color: var(--ztc-text-text-1);
        }
      }
    }
  }

  .solution-boxarea2 {
    position: sticky;
    z-index: 1;
    background: #D9D6F7;
    border-radius: 8px;
    padding: 32px 50px;
    top: 140px;
    @media #{$md} {
      position: relative;
      top: 0;
      padding: 32px;
    }
    @media #{$xs} {
      position: relative;
      top: 0;
      padding: 32px;
    }
    .img1 {
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    .step-header {
      @media #{$md} {
        margin-top: 30px;
      }
      @media #{$xs} {
        margin-top: 30px;
      }
      h5 {
        color: var(--ztc-text-text-1);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--ztc-weight-medium);
        line-height: 16px;
        display: inline-block;
        border-radius: 32px;
        background: var(--ztc-text-text-17);
        padding: 6px 10px;
        img {
          filter: brightness(0) invert(1);
          margin: 0 4px 0 0;
        }
      }
      h2 {
        color: var(--ztc-text-text-2);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s32);
        font-style: normal;
        font-weight: var(--ztc-weight-semibold);
        line-height: 32px;
      }
      p {
        color: var(--ztc-text-text-3);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--ztc-weight-regular);
        line-height: 26px;     
      }
      
    }
  }

  .solution-boxarea3 {
    position: sticky;
    top: 180px;
    z-index: 1;
    background: #E2FCE3;
    border-radius: 8px;
    padding: 32px 50px;
    @media #{$md} {
      position: relative;
      top: 0;
      padding: 32px;
    }
    @media #{$xs} {
      position: relative;
      top: 0;
      padding: 32px;
    }
    .img1 {
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    .step-header {
      @media #{$md} {
        margin-top: 30px;
      }
      @media #{$xs} {
        margin-top: 30px;
      }
      h5 {
        color: var(--ztc-text-text-2);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--ztc-weight-medium);
        line-height: 16px;
        display: inline-block;
        border-radius: 32px;
        background: #A9FAAC;
        padding: 6px 10px;
        img {
          filter: brightness(0);
          margin: 0 4px 0 0;
        }
      }
      h2 {
        color: var(--ztc-text-text-2);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s32);
        font-style: normal;
        font-weight: var(--ztc-weight-semibold);
        line-height: 32px;
      }
      p {
        color: var(--ztc-text-text-3);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s16);
        font-style: normal;
        font-weight: var(--ztc-weight-regular);
        line-height: 26px;     
      }
      a {
        background: #A9FAAC;
        color: var(--ztc-text-text-2);
        &:hover {
          background: var(--ztc-text-text-2);
          color: var(--ztc-text-text-1);
        }
      }
    }
  }
}

.solution-section-slider-area {
  position: relative;
  z-index: 1;
  .soluion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    @media #{$xs} {
      margin-bottom: 30px;
      display: inline-block;
    }
    @media #{$md} {
      margin-bottom: 30px;
      display: inline-block;
    }
    .auhtor-area {
      display: flex;
      align-items: center;
      .content {
        padding: 0 0 0 50px;
        position: relative;
        z-index: 1;
        width: 81px;
        &::after {
          position: absolute;
          content: "";
          height: 64px;
          width: 3px;
          background: #FFF0E7;
          transition: all .4s;
          left: 20px;
          top: 12px;
        }
        p{
          line-height: 16px;
        }
      }
    }
  }

  .solution-slider-area.owl-carousel .owl-item.active.center {
    .images-content-area {
      .content-area {
        top: 43%;
        transition: all .4s;
        @media #{$xs} {
          top: 27%;
        }
        @media #{$md} {
          top: 27%;
        }
      }
    }
  }
  .solution-slider-area.owl-carousel {
    .owl-dots {
      text-align: center;
      margin-top: 50px;
      button {
          height: 10px;
          width: 10px;
          display: inline-block;
          background: var(--ztc-bg-bg-25);
          border-radius: 50%;
          margin: 0 20px 0 0;
          position: relative;
          &::after {
              position: absolute;
              content: "";
              height: 24px;
              width: 24px;
              text-align: center;
              background: #F7DBCC;
              left: -7px;
              top: -7px;
              transition: all .4s;
              border-radius: 50%;
              z-index: -1;
              visibility: hidden;
              opacity: 0;
          }
      }
      button.active {
          background: var(--ztc-text-text-14);
          transition: all .4s;
          &::after {
              visibility: visible;
              opacity: 1;
          }
      }
  }
  }
  .solution-slider-area {
    .images-content-area {
      position: relative;
      z-index: 1;
      transition: all .4s;
      overflow: hidden;
      height: 100%;
      width: 100%;
      &:hover {
        .img1 {
          transition: all .4s;
          border-radius: 8px;
          img {
            transform: scale(1.1) rotate(-4deg);
            transition: all .4s;
            border-radius: 8px;
          }
        }
        .content-area {
          top: 43%;
          transition: all .4s;
          @media #{$xs} {
            top: 27%;
          }
          @media #{$md} {
            top: 27%;
          }
        }
      }
      .img1 {
        overflow: hidden;
        transition: all .4s;
        border-radius: 8px;
        height: 450px;
        width: 100%;
        @media #{$xs} {
          height: 100%;
        }
        @media #{$md} {
          height: 100%;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
          border-radius: 8px;
          transition: all .4s;
        }
      }
      .content-area {
        padding: 60px 24px;
        position: absolute;
        top: 100%;
        z-index: 2;
        height: 100%;
        background: #F6F8FA;
        transition: all .4s;
        a {
          color: var(--ztc-text-text-2);
          font-family: var(--ztc-family-font1);
          font-size: var(--ztc-font-size-font-s20);
          font-style: normal;
          font-weight: var(--ztc-weight-semibold);
          line-height: 20px;  
          display: inline-block;
          transition: all .4s;  
          &:hover {
            color: var(--ztc-bg-bg-25);
            transition: all .4s;
          }   
        }
      .readmore {
        color: var(--ztc-text-text-2);
          font-family: var(--ztc-family-font1);
          font-size: var(--ztc-font-size-font-s16);
          font-style: normal;
          font-weight: var(--ztc-weight-semibold);
          line-height: 16px;  
          display: inline-block;
          transition: all .4s;
          i {
            margin-left: 4px;
            transform: rotate(-45deg);
            transition: all .4s;
          }  
          &:hover {
            color: var(--ztc-bg-bg-25);
            transition: all .4s;
          }  
      }
      }
    }
  }
}
