@use '../../utils/' as * ;

/*============= WORK CSS AREA ===============*/
.work1-section-area {
    position: relative;
    z-index: 1;
    .work-header-area {
        margin-bottom: 60px;
        @media #{$xs} {
            margin-bottom: 30px;
        }
        @media #{$md} {
            margin-bottom: 30px;
        }
    }
    .choose-section-area.choose2 {
        position: sticky;
        top: 150px;
    }
    .choose-section-area.choose3 {
        position: sticky;
        top: 200px;
    }
    .choose-section-area {
        position: sticky;
        top: 100px;
        border-radius: 8px;
        padding: 0 50px;
        transition: all .4s;
        background: #7659AE;
        @media #{$xs} {
            padding: 24px;
        }
        @media #{$md} {
            padding: 24px;
        }
        .choose-list-area {
            h3 {
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s32);
                line-height: var(--ztc-font-size-font-s40);
                font-weight: var(--ztc-weight-semibold);
                color: var(--ztc-text-text-1);
                transition: all .4s;
                margin-bottom: 16px;
            }
            p {
                font-size: var(--ztc-font-size-font-s16);
                font-family: var(--ztc-family-font1);
                line-height: var(--ztc-font-size-font-s26);
                color: var(--ztc-text-text-1);
                opacity: 80%;
                font-weight: var(--ztc-weight-regular);
                margin-top: 24px;
            }
            .btn-area {
                margin-top: 24px;
            }
            .choose-auhtor {
                li {
                    display: inline-block;
                    a {
                        font-family: var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s16);
                        line-height: var(--ztc-font-size-font-s16);
                        font-weight: var(--ztc-weight-regular);
                        color: var(--ztc-text-text-1);
                        transition: all .4s;
                        padding: 8px;
                        border-radius: 30px;
                        border: 1px solid #909DAD;
                        display: inline-block;
                        margin: 16px 8px 0 0;
                        &:hover {
                            background: var(--ztc-bg-bg-10);
                            border: 1px solid var(--ztc-bg-bg-10);
                        }
                    }
                }
            }
        }
        .images {
            text-align: end;
            position: relative;
            z-index: 1;
            .elements6 {
                position: absolute;
                top: 80px;
                left: -80px;
            }
            .star4 {
                position: absolute;
                bottom: 20px;
                left: -80px;
            }
            .img1 {
                img {
                    height: 470px;
                    width: 470px;
                    object-fit: contain;
                    transition: all .4s;
                    @media #{$xs} {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    @media #{$md} {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

// homepage2 //
.work2-section-area {
    position: relative;
    z-index: 1;
    .work2-header {
        margin-bottom: 60px;
        @media #{$xs} {
            margin-bottom: 30px;
        }
        @media #{$md} {
            margin-bottom: 30px;
        }
    }
    .work-images {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }
    .all-boxes-area {
        padding: 0 0 0 55px;
        @media #{$xs} {
            padding: 0;
            margin-top: 30px;
        }
        @media #{$md} {
            padding: 0;
            margin-top: 30px;
        }
        .work-process-area {
            position: relative;
            z-index: 1;
            transition: all .4s;
            padding: 16px 24px 16px 46px;
            border-radius: 8px;
            @media #{$xs} {
                padding: 20px;
            }
            @media #{$md} {
                padding: 20px;
            }
            &:hover {
                transition: all .4s;
                &::after {
                    opacity: 0;
                    transition: all .4s;
                    visibility: hidden;
                }
                &::before {
                    transition: all .4s;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 1;
                    visibility: visible;
                }
                .icons {
                    background: var(--ztc-text-text-1);
                    transition: all .4s;
                    transform: rotateY(180deg);
                    img {
                        filter:none;
                        transition: all .4s;
                    }
                }
            }
            &::after {
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                background: var(--ztc-text-text-1);
                opacity: 15%;
                transition: all .4s;
                border-radius: 8px;
                z-index: -1;
                visibility: visible;
            }
            &::before {
                position: absolute;
                content: "";
                height: 100%;
                width: 1px;
                left: 50%;
                top: 0;
                background: var(--ztc-text-text-5);
                transition: all .4s;
                border-radius: 8px;
                z-index: -1;
                visibility: hidden;
                opacity: 0;
            }
            .icons {
                height: 60px;
                width: 60px;
                text-align: center;
                line-height: 60px;
                transition: all .4s;
                display: inline-block;
                border-radius: 50%;
                background-color: #3E3980;
                position: absolute;
                left: -35px;
                top: 23%;
                bottom: -23%;
                @media #{$xs} {
                    position: relative;
                    left: 0;
                    margin-bottom: 20px;
                }
                @media #{$md} {
                    position: relative;
                    left: 0;
                    margin-bottom: 20px;
                }
                img {
                    filter: brightness(0) invert(1);
                    transition: all .4s;
                }
            }
            .content-area {
                a {
                    font-size: var(--ztc-font-size-font-s20);
                    font-family: var(--ztc-family-font1);
                    font-weight: var(--ztc-weight-semibold);
                    color: var(--ztc-text-text-1);
                    transition: all .4s;
                    line-height: var(--ztc-font-size-font-s20);
                    display: inline-block;
                    margin-bottom: 16px;
                }
                p {
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    line-height: var(--ztc-font-size-font-s26);
                    font-weight: var(--ztc-weight-regular);
                    color: var(--ztc-text-text-1);
                    opacity: 80%;
                }
            }
        }
        .work-process-area.work2 {
            margin-left: -40px;
            @media #{$xs} {
                margin: 0;
            }
            @media #{$md} {
                margin: 0;
            }
        }
    }
}

// homepage3 //
.work3-section-area {
    position: relative;
    z-index: 1;
    .work-bg1 {
        position: absolute;
        top: 0;
        left: 0;
    }
    .work-bg2 {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .work-header-area {
        margin-bottom: 60px;
        @media #{$xs} {
            margin-bottom: 30px;
        }
        @media #{$md} {
            margin-bottom: 30px;
        }
    }
    .choose-section-area.choose2 {
        position: sticky;
        top: 150px;
    }
    .choose-section-area.choose3 {
        position: sticky;
        top: 200px;
    }
    .choose-section-area {
        position: sticky;
        top: 100px;
        border-radius: 8px;
        padding: 0 50px;
        transition: all .4s;
        background: var(--ztc-bg-bg-14);
        @media #{$xs} {
            padding: 24px;
        }
        @media #{$md} {
            padding: 24px;
        }
        .choose-list-area {
            h3 {
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s32);
                line-height: var(--ztc-font-size-font-s40);
                font-weight: var(--ztc-weight-semibold);
                color: var(--ztc-text-text-2);
                transition: all .4s;
                margin-bottom: 16px;
            }
            p {
                font-size: var(--ztc-font-size-font-s16);
                font-family: var(--ztc-family-font1);
                line-height: var(--ztc-font-size-font-s26);
                color: var(--ztc-text-text-3);
                font-weight: var(--ztc-weight-regular);
                margin-top: 24px;
            }
            .btn-area {
                margin-top: 24px;
            }
            .choose-auhtor {
                li {
                    display: inline-block;
                    a {
                        font-family: var(--ztc-family-font1);
                        font-size: var(--ztc-font-size-font-s16);
                        line-height: var(--ztc-font-size-font-s16);
                        font-weight: var(--ztc-weight-regular);
                        color: var(--ztc-text-text-2);
                        transition: all .4s;
                        padding: 8px;
                        border-radius: 30px;
                        border: 1px solid #909DAD;
                        display: inline-block;
                        margin: 16px 8px 0 0;
                        &:hover {
                            background: var(--ztc-bg-bg-10);
                            transition: all .4s;
                            color: var(--ztc-text-text-1);
                            border: 1px solid var(--ztc-bg-bg-10);
                        }
                    }
                }
            }
        }
        .images {
            text-align: end;
            position: relative;
            z-index: 1;
            .elements6 {
                position: absolute;
                top: 80px;
                left: -80px;
            }
            .star4 {
                position: absolute;
                bottom: 20px;
                left: -80px;
            }
            .img1 {
                img {
                    height: 470px;
                    width: 470px;
                    object-fit: contain;
                    @media #{$xs} {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    @media #{$md} {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

// homepage3 //
.work4-section-area {
    position: relative;
    z-index: 1;
    background: var(--ztc-bg-bg-14);
    .work2-header {
        margin-bottom: 60px;
        @media #{$xs} {
            margin-bottom: 30px;
        }
        @media #{$md} {
            margin-bottom: 30px;
        }
    }
    .work-images {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }
    .all-boxes-area {
        padding: 0 0 0 55px;
        @media #{$xs} {
            padding: 0;
            margin-top: 30px;
        }
        @media #{$md} {
            padding: 0;
            margin-top: 30px;
        }
        .work-process-area {
            position: relative;
            z-index: 1;
            transition: all .4s;
            padding: 16px 24px 16px 46px;
            border-radius: 8px;
            background: var(--ztc-text-text-1);
            @media #{$xs} {
                padding: 20px;
            }
            @media #{$md} {
                padding: 20px;
            }
            &:hover {
                transition: all .4s;
                &::before {
                    transition: all .4s;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 1;
                    visibility: visible;
                }
                .icons {
                    background: var(--ztc-text-text-1);
                    transition: all .4s;
                    transform: rotateY(180deg);
                }
                .content-area {
                    a {
                        color: var(--ztc-text-text-1);
                        transition: all .4s;
                    }
                    p {
                        color: var(--ztc-text-text-1);
                        transition: all .4s;
                    }
                }
            }
            &::before {
                position: absolute;
                content: "";
                height: 100%;
                width: 1px;
                left: 50%;
                top: 0;
                background: var(--ztc-text-text-5);
                transition: all .4s;
                border-radius: 8px;
                z-index: -1;
                visibility: hidden;
                opacity: 0;
            }
            .icons {
                height: 60px;
                width: 60px;
                text-align: center;
                line-height: 60px;
                transition: all .4s;
                display: inline-block;
                border-radius: 50%;
                background-color: var(--ztc-bg-bg-13);
                position: absolute;
                left: -35px;
                top: 23%;
                bottom: -23%;
                @media #{$xs} {
                    position: relative;
                    left: 0;
                    margin-bottom: 20px;
                }
                @media #{$md} {
                    position: relative;
                    left: 0;
                    margin-bottom: 20px;
                }
            }
            .content-area {
                a {
                    font-size: var(--ztc-font-size-font-s20);
                    font-family: var(--ztc-family-font1);
                    font-weight: var(--ztc-weight-semibold);
                    color: var(--ztc-text-text-2);
                    transition: all .4s;
                    line-height: var(--ztc-font-size-font-s20);
                    display: inline-block;
                    margin-bottom: 16px;
                }
                p {
                    font-family: var(--ztc-family-font1);
                    font-size: var(--ztc-font-size-font-s16);
                    line-height: var(--ztc-font-size-font-s26);
                    font-weight: var(--ztc-weight-regular);
                    color: var(--ztc-text-text-3);
                }
            }
        }
        .work-process-area.work2 {
            margin-left: -40px;
            @media #{$xs} {
                margin: 0;
            }
            @media #{$md} {
                margin: 0;
            }
        }
    }
}

// homepage4 //
.works4-section-area {
    position: relative;
    background: var(--ztc-bg-bg-15);
    .works4-header {
        @media #{$xs} {
            margin-bottom: 30px;
        }
        @media #{$md} {
            margin-bottom: 30px;
        }
    }
    .case-images {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }
    .works-author-boxarea {
        position: relative;
        z-index: 1;
        text-align: center;
        border-radius: 8px;
        transition: all .4s;
        background: var(--ztc-text-text-1);
        padding: 32px;
        margin-bottom: 30px;
        &:hover {
            transition: all .4s;
            transform: translateY(-5px);
            &::after {
                width: 100%;
                visibility: visible;
                opacity: 1;
                transition: all .4s;
                left: 0;
            }
            .icons {
                background: var(--ztc-text-text-1);
                transition: all .4s;
                transform: rotateY(-180deg);
            }
            .content-area {
                a {
                    color: var(--ztc-text-text-1);
                    transition: all .4s;
                    i {
                        transform: rotate(-45deg);
                        transition: all .4s;
                    }
                }
                p {
                    color: var(--ztc-text-text-1);
                    opacity: 80%;
                    transition: all .4s;
                }
            }
        }
        &::after {
            position: absolute;
            content: "";
            height: 100%;
            width: 1px;
            left: 50%;
            top: 0;
            transition: all .4s;
            z-index: -1;
            background: var(--ztc-text-text-6);
            border-radius: 8px;
            visibility: hidden;
            opacity: 1;
        }
        .icons {
            height: 60px;
            width: 60px;
            text-align: center;
            line-height: 60px;
            border-radius: 50%;
            transition: all .4s;
            background: var(--ztc-text-text-9);
            margin: 0 auto;
            img {
                transition: all .4s;
            }
        }
        .content-area {
            a {
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s20);
                line-height: var(--ztc-font-size-font-s20);
                font-weight: var(--ztc-weight-semibold);
                color: var(--ztc-text-text-2);
                transition: all .4s;
                display: inline-block;
                margin-bottom: 13px;
            }
            p {
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s16);
                line-height: 26px;
                font-weight: var(--ztc-weight-regular);
                color: var( --ztc-text-text-3);
                transition: all .4s;
                opacity: 80%;
            }
            .readmore {
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s16);
                line-height: var(--ztc-font-size-font-s16);
                font-weight: var(--ztc-weight-bold);
                color: var(--ztc-text-text-2);
                transition: all .4s;
                margin-bottom: 0;
                margin-top: 24px;
                i {
                    transition: all .4s;
                }
            }
        }
    }
}

// works-inner //
.works-inner-section-area {
    position: relative;
    z-index: 1;
    .works-header-area.specing2 {
        padding: 0 0 0 30px;
        @media #{$xs} {
            padding: 0;
            margin-bottom: 30px;
        }
        @media #{$md} {
            padding: 0;
            margin-bottom: 30px;
        }
    }
    .works-header-area {
        padding: 0 30px 0 0;
        @media #{$xs} {
            padding: 0;
            margin-bottom: 30px;
        }
        @media #{$md} {
            padding: 0;
            margin-bottom: 30px;
        }
        .works-content-box {
            position: relative;
            z-index: 1;
            background: var(--ztc-text-text-1);
            border: 1px solid #E1E3E8;
            border-radius: 8px;
            transition: all .4s;
            padding: 16px;
            &:hover {
                background: var(--ztc-text-text-4);
                transition: all .4s;
                border: 1px solid var(--ztc-text-text-4);
                .icons {
                    background: var(--ztc-text-text-1);
                    transition: all .4s;
                }
                transform: translateY(-5px);
                .content {
                    a {
                        color: var(--ztc-text-text-1);
                        transition: all .4s;
                    }
                    p {
                        color: var(--ztc-text-text-1);
                        transition: all .4s;
                        opacity: 80%;
                    }
                }
            }
            .icons {
                height: 60px;
                width: 60px;
                text-align: center;
                line-height: 60px;
                border-radius: 50%;
                transition: all .4s;
                background:var(--ztc-bg-bg-4);
                position: absolute;
            }
            .content {
                padding-left: 80px;
                a {
                    display: inline-block;
                    font-size: var(--ztc-font-size-font-s20);
                    line-height: var(--ztc-font-size-font-s20);
                    font-weight: var(--ztc-weight-semibold);
                    color: var(--ztc-text-text-2);
                    transition: all .4s;
                    font-family: var(--ztc-family-font1);
                    margin-bottom: 10px;
                    transition: all .4s;
                }
                p {
                    transition: all .4s;
                }
            }
        }
    }

    .about-all-images-area {
        position: relative;
        .elements12 {
            position: absolute;
            top: 50px;
            left: 40%;
            right: 50%;
        }
        .elements13 {
            position: absolute;
            left: 50%;
            bottom: 50px;
            right: 40%;
        }
        .img1 {
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 100px;
            }
        }
        .img2 {
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 100px;
            }
        }
    }
}

.works7-section-area {
    position: relative;
    background: var(--ztc-bg-bg-15);
    .works7-header {
        margin-bottom: 60px;
        @media #{$xs} {
            margin-bottom: 30px;
        }
        @media #{$md} {
            margin-bottom: 30px;
        }
    }
    .works-author-boxarea {
        position: relative;
        z-index: 1;
        background: #EBEEF2;
        padding: 32px 24px;
        transition: all .4s;
        margin-bottom: 30px;
        height: 515px;
        @media #{$xs} {
            height: auto;
        }
        &:hover {
            background: var(--ztc-text-text-1);
            transition: all .4s;
            transform: translateY(-5px);
        }
        a {
            color: var(--ztc-text-text-2);
            text-align: center;
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s20);
            font-style: normal;
            font-weight: var(--ztc-weight-semibold);
            line-height: 20px; 
            display: block;
            transition: all .4s;  
            margin-bottom: 20px;       
        }
        p {
            color: var(--ztc-text-text-3);
            text-align: center;
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s16);
            font-style: normal;
            font-weight: var(--ztc-weight-regular);
            line-height: 26px;       
        }
        .img2 {
            position: absolute;
            bottom: 0;
            z-index: -1;
        }
    }
}

// Homepage 08 //
.work8-section-area {
    position: relative;
    background: #F7F8FA;
    .work-header {
        margin-bottom: 60px;
        @media #{$xs} {
            margin-bottom: 30px;
        }
        @media #{$md} {
            margin-bottom: 30px;
        }
    }

    .img1 {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .head {
        @media #{$xs} {
            margin-top: 30px;
        }
        @media #{$md} {
            margin-top: 30px;
        }
        h4 {
            color: var(--ztc-text-text-2);
            font-family: var(--ztc-family-font1);
            font-size: var(--ztc-font-size-font-s24);
            font-style: normal;
            font-weight: var(--ztc-weight-semibold);
            line-height: 24px;           
        }
    }
    .works-boxarea.auhtor {
        margin-left: -40px;
        @media #{$xs} {
            margin-left: 0;
        }
        @media #{$md} {
            margin-left: 0;
        }
    }
    .works-boxarea {
        position: relative;
        padding: 16px 24px 16px 46px;
        border-radius: 10px;
        background: var(--ztc-text-text-1);
        display: inline-block;
        margin-top: 30px;
        transition: all .4s;
        @media #{$xs} {
            padding: 16px;
        }
        &:hover {
            border-radius: 10px;
            background: var(--ztc-text-text-1);
            box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08); 
            transition: all .4s;
            transform: translateY(-5px);
            .list {
                transform: rotateY(-360deg);
                transition: all .4s;
                h3 {
                    background: var(--ztc-bg-bg-26);
                    color: var(--ztc-text-text-1);
                    transition: all .4s;
                }
            }           
        }
        .list {
            position: absolute;
            top: 20%;
            left: -30px;
            @media #{$xs} {
                position: relative;
                left: 0;
                margin-bottom: 20px;
                display: inline-block;
            }
            h3 {
                height: 60px;
                width: 60px;
                text-align: center;
                line-height: 60px;
                transition: all .4s;
                background: #E0EBFB;
                border-radius: 50%;
                color: var(--ztc-bg-bg-26);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s28);
                font-style: normal;
                font-weight: var(--ztc-weight-semibold);
                transition: all .4s;
            }
        }
        .content {
            display: inline-block;
            a {
                color: var(--ztc-text-text-2);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s20);
                font-style: normal;
                font-weight: var(--ztc-weight-semibold);
                line-height: 20px;    
                display: inline-block;
                transition: all .4s;
                margin-bottom: 16px;           
            }
            p {
                color: var(--ztc-text-text-3);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s16);
                font-style: normal;
                font-weight: var(--ztc-weight-regular);
                line-height: 26px;
            }
        }
    }
}
/*============= WORK CSS AREA ===============*/